body{
  background: #e0e0e0;
  display: -webkit-box;
  display: -ms-flexbot;
  display:flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
section{
  width:50vw;
  height:50vh;
  padding:10px;
  margin:2px;
  background:blue;
  box-shadow:5px 5px 10px #999;
}
p{
  position:relative;
  top:1%;
  margin-left: -2%;
  margin-right: -1%;
  padding:5%;
  background: #9c27b0;
  color:#fff;
  font-size:2.0em;
  text-transform: uppercase;
  font-weight: 200;
  font-stretch: expanded;
  box-shadow:1px 1px 2px 2px #333;
}
p::after{
  content:"";
  position:absolute;
  width:0;
  height:0;
  left:0;
  top:100%;
  border-right:2vh solid #8e24aa;
  border-left:0 solid #8e24aa;
  border-bottom:2vh solid transparent;
}
.wrapper{
  width:50%;
  height: 150vh;
  background: radial-gradient(farhest-corner at 10vw 2ovh,#555555 1%,#9c27b0 10px);
}
.navbar{
  position:;
  width:;
  opacity:;
  height:;
  left:;
  font-family:'franklin gothic medium',"arial narrow";
  font-size:;
  text-align:;
  color:;
  background:url"";
  background-size:100px;
}
.navbar span{
  position:relative;
  top:15px;
}
$s1:"";
$s2:"";
$s3:"";
@for si from 1 through 400{
  $s1 :$s1 +random(1000)* 0.1vw +""+ random(1000)*0.1vh* +""+ 0 +""+ random(50)*0.01rem + #fff;
  $s2 :$s2 +random(1000)* 0.1vw +""+ random(1000)*0.1vh* +""+ 0 +""+ random(50)*0.01rem + #fff;
  $s3 :$s3 +random(1000)* 0.1vw +""+ random(1000)*0.1vh* +""+ 0 +""+ random(50)*0.01rem + #fff;
  @if $i <400 {
    $s1: $s1 +",";
    $s2: $s2 +",";
    $s: $s3 +",";
  }
}
.layer1{
  width: 1.5rem;
  height:1.5rem;
  box-shadow:
  filter:blur(1.5px);
  box-shadow: #($s1);
  animation-duration:6s;
}
.layer2{
  width: 1.2rem;
  height:1.2rem;
  box-shadow:
  filter:blur(3px);
  box-shadow: #($s2);

  animation-duration:8s;
}
.layer3{
    width: 0.8rem;
    height: 0.8rem;
    box-shadow:
    filter:blur(6px);
    box-shadow: #($s3);
    animation-duration:10s;
}
.snow{
  border-radius:50%;
  opacity:0.8;

  position:absolute;

  top:-100vh;
  
  animation-name: fall;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframe fall{
  100%{transform:translateY(200vh); }
}